<div class="container">
<h1>Meu carrinho</h1>
<% if @my_cart.empty? %>
  <h3>Seu carrinho esta vazio!</h3>
<% else %>
  <table class="table table-hover table-bordered">
    <thead>
      <th>Item</th>
      <th>Quantity</th>
      <%= @my_cart.each do |item| %>
        <tr>
          <td><%= item.name %></td>
          <td><%= item.qntd %></td>
        </tr>
      <% end %>
  </table>
<% end %>
</div>
