<nav class="navbar navbar-default navbar-fixed-top navbar-brand second-navbar">
<div class="container-fluid">
  Carrinho de compras
</div>
</nav>
<div class="cart-table">
  <% if @items.empty? %>
    <div class="alert alert-info">
      Seu carrinho esta vazio!
    </div>
  <% else %>
    <table class="table table-hover table-bordered">
      <thead>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
      </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= link_to item.name, item %></td>
            <td><%= item.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
