<div class="col-sm-2">
  <div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          <li><%= link_to "Products", items_index_path %></li>
          <li><a href="#">Menu Item 2</a></li>
          <li><a href="#">Menu Item 4</a></li>
        </ul>
    </div>
  </div>
</div>
